@import 'tailwindcss';

body{
  background: linear-gradient(to right, #100, #111);
  color: #ddd;
  font-family: 'Roboto Crusaded', sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 8px;
  background-color: #222;
}
::-webkit-scrollbar-thumb{
  background-color: #555;
  border-radius: 4px;
}

.scroll-element {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Transición suave */
}

.scroll-element.visible {
  opacity: 1;
  transform: translateY(0);
}

.animate-opacity {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
  }
}